# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Conda environment
.env/
.conda/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment definition
environment.yml

# Python virtual environments (optional)
venv/